<%- include("partials/header") -%>
<body>
    <div class="container">

<h1>About</h1>
<p><%= AData %></p>
</div>



<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by InSaNe</p>
  </div>
</div>
</body>
</html>
